<p id="notice"><%= notice %></p>

<h1>&nbsp;&nbsp;Cryptonator</h1>
 <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <%= form_for(:crypto, url: scraper_path) do |f| %>
        <%= f.submit "Scrap & Update", class:"btn btn-secondary btn-lg btn-block"%>
          <% end %>
      </div>
    </div>
</div>
<%= will_paginate %>
<div class="container">
<table class="thead-light">
  <thead class="thead-light">
    <tr>
      <th>&nbsp;Name</th>
      <th>&nbsp;Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<br>
  <tbody>
    <% @cryptos.each do |crypto| %>
      <tr>
        <td ><%= crypto.name %></td>
        <td><%= crypto.price %>&nbsp;&nbsp;</td>
        <td class="badge badge-primary"><%= link_to 'Voir', crypto %></td>
        <td class="badge badge-pill badge-info"><%= link_to 'Ne pas afficher', crypto, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<%= will_paginate %>
 </html>