<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crypto.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @crypto.price %>
</p>

<p>
  <strong>Last refresh:</strong>
  <%= @crypto.created_at %>
</p>

<%= link_to 'Back', cryptos_path %>

